# ignore idea folder
.idea
.idea/
**/.idea

# Ignore all files in .idea
.idea/*

# ignore .pyc files
*.pyc
**/*.pyc
*.py[cod]

.DS*
**/.DS*

._.DS*
**/._.DS*

._*
**/._*

# Environment
.venv
.venv/
.venv/*

*.log
*.pot

__pycache__
__pycache__/
*/__pycache__/
**/__pycache__/
local_settings.py

db.sqlite3
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

.circleci/ansible/api/slack.ini
